<div id="listEmp">
  <div class="container-fluid">
    <div class=" row justify-content-between head">
      <div class="col-md-4">
        <h2>Employees</h2>
      </div>
      <div class="col-md-3">
        <a routerLink="/create-e" class="btn">Add new Employee</a>
      </div>   
    </div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">Name</th>
        <th scope="col">Departement</th>
        <th scope="col">job tittle</th>
        <th scope="col">Employee profile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of empData">
        <td> <img [src]="employee.imgUrl" class="img-fluid rounded-circle"></td>
        <td> {{employee.name}}</td>
        <td>{{employee.departement}}</td>
        <td> {{employee.departement}}</td>
        <td> <a routerLink="/profile-e/{{employee.id}}">Following</a></td>
      </tr>
    </tbody>
  </table>
</div>
