<section>
  <div class="container-fluid">
    <div class="col-md-4 caption">
      <h1 class="home-head1">Human Resources</h1>
      <h2 class="home-head2">Automate your HR according to the local laws in your country</h2>
    </div>
  </div>
</section>
<section class="aboutUs">
  <div class="container">
    <h2 class="text-center">Successfully manage your HR system</h2>
    <p class="text-center">Oversee all important information for each departmen.</p>
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="aboutBg">
          <img src="../../../assets/img/emp.jpg" class="img-fluid">
        </div>
        <div class="about">
          <h5 class="text-center">About Employees</h5>
          <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, at fugit. Ipsam,
            fugiat impedit
            dolorem dignissimos saepe iusto ipsa
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutBg">
          <img src="../../../assets/img/mang.jpg" class="img-fluid">
        </div>
        <div class="about">
          <h5 class="text-center">About Managers</h5>
          <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, at fugit. Ipsam,
            fugiat impedit
            dolorem dignissimos saepe iusto ipsa
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutBg">
          <img src="../../../assets/img/dep3.jpg" class="img-fluid">
        </div>
        <div class="about">
          <h5 class="text-center">About Departements</h5>
          <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, at fugit. Ipsam,
            fugiat impedit
            dolorem dignissimos saepe iusto ipsa
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <h1 class="d-inline">HR</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum mollitia officiis quidem voluptates illum
          recusandae ea, rerum maiores est magnam aspernatur quis culpa eligendi atque, modi nihil. Ea, quo expedita.
        </p>
        <div class="icons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
      <div class="col-md-3 links">
        <h5>QUICK LINK</h5>
        <ul>
          <li>
            <a class="nav-link" routerLink="/home">Home </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/list-e">Employees</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/list-m">Managers</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/allDeps">Departments</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 links">
        <h5>CATEGORIES</h5>
        <ul>
          <li>C
          </li>
          <li>UI Design</li>
          <li> PHP</li>
          <li> Java</li>
          <li> Android</li>
          <li> Templates</li>
        </ul>
      </div>
    </div>
    <div class="line">

    </div>
  </div>
</section>
